---
layout: default
title: Blog Page
banner:
    heading: Our blog.
    image_path: /uploads/travel/blog-bg-11-backpack.jpg
---

<!------------ Header ------------->

{% include hero-banner.html %}

<!------------------------ Split blog loop (part 1) ------------------------>
<section class="p-5p">

    <div class="capped-width grid sm:grid-cols-3">

        {% for post in site.posts limit:12 %}

           <div class="p-4 aspect-landscape"> 
            <img class="h-[50vh] w-full object-cover" src="{{post.featured_image}}">
            {% include post-loop-list-item-simple.html %}

           </div>

        {% endfor %}

    </div>

</section>