---
layout: default
title: Homepage
banner:
    heading: Join us in this adventure.
    description: Surfing teaches you to appreciate the finer things in life, to be
        present, live in the moment and just breathe.
    image_path: /uploads/travel/blog-bg-12-boat-bikini.jpg
banner-style-indented: true
text_blurbs:
    heading: A fascinating heading about the site.
    description: 'Hello, this is filipa and this is me editing the website. '
    image:
        image_path: /uploads/travel/blog-bg-13-suitcase.jpg
    button:
        url_text: Read More
        url_link: '#'
itinerary:
    heading: Upcoming travel destinations
    image:
        image_path: /uploads/travel/blog-bg-14-greece.jpg
        alt_text: a placeholder alt description
        overlay_text: Currently in...
    destinations:
        -
            location: Europe
            date: 00 Month - 00 Month 2023
        -
            location: Australia
            date: 00 Month - 00 Month 2023
        -
            location: Asia
            date: 00 Month - 00 Month 2023
        -
            location: Asia
            date: 00 Month - 00 Month 2023
blog:
    heading: Recently on the blog
    button:
        text: Read More
        url: '#'
seo:
    title:
    description:
    social_image:
    twitter_card:
    keywords:
    hide-from-google: false
---
<!-- Note - the site header will pull in from the default layout and is editable in the includes folder -->

<!-------------- Hero Banner Section ---------------->

<section> 

    {% if page.banner-style-indented == true %}
    {% include hero-banner.html %}
    {% else %}
    {% include hero-banner.full.html %}
    {% endif %}

</section>

<!--------------- Text Blurbs ------------>

<section class="bg-light grid grid-cols-2">
    <div class="col-span-1 ml-32 mt-32 mb-32 flex">  
        <img class="flex justify-end" src="{{ page.text_blurbs.image.image_path }}" />
    </div>
    <div class="col-span-1 ml-12"> 
        <h2 class="text-6xl -ml-64 md:max-w-md font-serif text-center mt-44 mb-12">{{ page.text_blurbs.heading }}</h2>
        <p class="mb-16 mr-24">{{ page.text_blurbs.description }}</p><p>
        <a class="font-serif text-2xl mb-16 uppercase border-b border-black" href="{{ page.text_blurbs.button.url_link }}"> {{ page.text_blurbs.button.url_text }} </a>
    </p></div> 
    
</section>

<!--------------- Upcoming Travel Destinations ------------->

<section class="border-t border-black px-10p">
    <h2 class="text-5xl mt-24 font-serif uppercase tracking-widest mb-16 text-center">{{ page.itinerary.heading }}</h2>
    <div class="grid grid-cols-2 gap-16"> 
        <div class="col-span-1"> 
            <ul>    
            {% for item in page.itinerary.destinations %} 
                <li class="flex content-start border-t border-black py-10 place-content-between"> 
                    <div class="flex justify-start uppercase">{{ item.location }}</div>
                    <div class="flex justify-end">{{ item.date }}</div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-span-1 bg-[url('{{ page.itinerary.image.image_path }}')] relative pb-[32vw]"> 
            <div class="bg-background inline-block font-serif px-10 py-2 text-6xl absolute bottom-5"> {{ page.itinerary.image.overlay_text }}</div>
        </div>     
    </div> 
</section>

<!---------------- Recently on the Blog / Featured blog loop ------------------->
<!-- {{site.data.site-settings.global-cta-options}} -->

<section class="mt-20">

    <h2 class="text-4xl font-serif uppercase tracking-widest text-center mb-16">{{ page.blog.heading }}</h2>

    <div class="max-w-screen-full mx-auto grid grid-cols-4">

        {% assign featured_posts = site.posts | where: 'featured', true %}
        
        {% for post in featured_posts limit:3 %}

            <a class="post-item p-2 flex flex-col {% cycle 'col-span-1', 'col-span-2', 'col-span-1' %}" href="{{ post.url }}">

                <!-- Background image -->
                <div class="bg-cover pb-[22vw]" style="background-image:url( '{{ post.featured_image }}' );"></div>

                <!-- Text container  -->
                <div class="p-5 flex-grow flex flex-col justify-between relative">
                    <div> 
                        <h2 class="mt-1 mb-4 sans-serif uppercase text-lg font-normal"> {{ post.title }} </h2>
                        <p class="mb-4">{{ post.description }} </p>
                    </div>
                    <div> 
                        <span class="font-serif text-2xl mb-16 uppercase border-b border-black">{{ page.blog.button.text }}</span>
                    </div>
                </div>
            </a>

        {% endfor %}
  
    </div>
 
</section> 


