---
layout: default
members-content: 
    - title: Tips & Hints
      image: /uploads/travel/blog-bg-9-green-mountain.jpg
      content_html: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae impedit illo quod sequi? Earum sint quae voluptatem voluptatum et magnam fugit doloremque totam repellat, dolore vitae molestiae delectus sit ad.
    - title: Special Sant Valentine's Day 
      content_html: Special Sant Valentine's Day 
    - title: Bonus presets - Bali edition 
      content_html: Bonus presets - Bali edition
---

<!----------- Header ---------------->

<section> 
    <div class=" min-h-48 p-5p" style="background-image: url('/uploads/travel/blog-bg-17-desert.jpg')"> 
        <h2 class="font-serif text-white text-8xl mb-5"> Members Area </h2> 
        <p class="serif text-white text-xl tracking-wide"> Welcome to our private members area. </p>
    </div>

</section>  



<!-------------- Explore Area ------------->



<section class="min-h-80 grid grid-cols-4 pl-5p">

    <div class="col-span-1 mt-5">

            {% for item in page.members-content %}
            <a href="#{{item.title | slugify }}" class="block font-serif uppercase text-lg my-10"> {{item.title}}</a>
            {% endfor %}

    </div> 

    <div class="col-span-3">

        {% for item in page.members-content %}
        
        <div id="{{item.title | slugify}}" class="p-5p border-b-2 border-black border-l-2"> 

            {% if item.image %}

             <img class="h-[50vh] w-full object-cover" src="{{item.image}}"> 

            {% endif %}

             <h2 class="uppercase font-serif text-3xl my-5"> {{item.title}} </h2>

            {{ item.content_html }}

        </div>

        {% endfor %}

    </div> 
    
</section>