---
layout: default 
title: Shop.
description: Nature teaches you to appreciate the finer things in life, to be present, live in the moment and just breathe. 
banner:
    image_path: /uploads/travel/blog-bg-17-desert.jpg
seo: 
    title: 
    description: 
    social_image: 
    keywords: 
    hide-from-google: false
---

<!------- Includes Hero Banner --------->

	{% include hero-banner-full.html %}


<!-------- Explore our products section --------->

<section class="p-8 max-w-screen-xl mx-auto">
	<h2 class="text-center font-serif text-6xl my-16 tracking-wider"> Explore all our products </h2> 
	<div class="flex justify-center mb-16 gap-10 uppercase font-normal"> 
		<a class="border bg-black text-white border-black py-3 px-6"> Show all </a>
		<a class="border border-black py-3 px-6"> Travel Guides </a>
		<a class="border border-black py-3 px-6"> Lightroom Presets </a>
	</div>

	<!---------- Related Products ----------->

{% assign relevant-products = site.products-presets | where_exp:"product","product.url != page.url" %}

{% include related-products.html relevant-products=relevant-products %}
	
</section>