---
layout: default 
title: Shop.
description: Nature teaches you to appreciate the finer things in life, to be present, live in the moment and just breathe. 
banner:
    image_path: /uploads/travel/blog-bg-17-desert.jpg
seo: 
    title: 
    description: 
    social_image: 
    keywords: 
    hide-from-google: false
---

<!------- Includes Hero Banner --------->

	{% include hero-banner-full.html %}

	<section class="p-5p max-w-screen-xl mx-auto" x-data="{ filter: 'all' }">

		<h2 class="text-center font-serif text-6xl my-8 tracking-wider"> Explore all our products </h2>
	
		<div class="filter flex justify-center uppercase p-5p gap-10"> 
 
				<a class="border border-black py-3 px-6" href="#" @click.prevent="filter = 'all'">All Products </a>
				<a class="border border-black py-3 px-6" :style="" href="#" @click.prevent="filter = 'guide'"> Travel Guides</a>
				<a class="border border-black py-3 px-6" href="#" @click.prevent="filter = 'preset'">Presets </a>
		
		</div>
	
		<div class="grid grid-cols-3 gap-4">
	
		{% assign all_products = site.products-guides | concat: site.products-presets | sort: 'title'  %}
	
		{% for product in all_products %}
			
			<div class="{{product.type | slugify }}" x-show="filter === 'all' || filter === '{{ product.type | slugify }}'">
			
				<a class="p-2 mb-4 block col-span-1" href="{{ product.url }}">
					<div class="bg-cover aspect-square" style="background-image:url( '{{ product.featured_image }}' );">
					</div>
					<div class="p-5p mt-5">
						<h3 class="sans-serif text-2xl"> {{ product.title }} </h3>
						<p class="my-10"> {{product.description}}</p>
						<p> {{product.price}}</p>
					</div>
				</a>
				
			</div>
				
		{% endfor %}
	
		</div>
	
	</section>


<!-------- Explore our products section --------->

<section class="p-8 max-w-screen-xl mx-auto">
	<h2 class="text-center font-serif text-6xl my-16 tracking-wider"> Explore all our products </h2> 
	<div class="flex justify-center mb-16 gap-10 uppercase font-normal"> 
		<a class="border bg-black text-white border-black py-3 px-6"> Show all </a>
		<a class="border border-black py-3 px-6"> Travel Guides </a>
		<a class="border border-black py-3 px-6"> Lightroom Presets </a>
	</div>

	<!---------- Related Products ----------->

{% assign relevant-products = site.products-presets | where_exp:"product","product.url != page.url" %}

{% include related-products.html relevant-products=relevant-products %}
	
</section>

<!----------------- Curated Collection ------------->

<section class="p-5p bg-cover bg-center min-h-[70vh] flex items-center" style="background-image: url('/uploads/travel/blog-bg-10-top-view.jpg');">

	<div class="grid grid-cols-2"> 
		<h2 class="font-serif text-6xl text-white leading-snug ml-24 mb-10 col-span-1"> "Once you get a taste for travel, you will never be the same." </h>

	</div>
</div>

</section>