/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

@layer components {
    .flex-center {
      @apply flex justify-center items-center;
    }
  }

/* ----------- CSS RESET --------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: color 0.5s, background-color 0.5s, width 0.5s;
}
  
img { max-width: 100%; height: auto; }

section { position: relative; }

div {
    background-size: cover;
    background-position: center;
}

.tag {

    @apply uppercase text-zinc-600 text-xs tracking-wide;
}

body {
    font-weight: 300;
}

body a {
    letter-spacing: 0.1rem;
}

.MemberSpaceWidgetInternal__TextInput_input:not(#MemberSpaceWidgetInternal__TextInput_-).MemberSpaceWidgetInternal__TextInput_variant-primary {
    -webkit-text-fill-color: initial;
    background: none;
    border-color: #1a1a1a;
    border-radius: var(--input-border-radius);
    border-style: solid;
    color: var(--input-color);
    font-family: var(--input-font-family);
    font-size: 16px;
    font-weight: var(--input-font-weight);
    border: none;
    border-bottom: 1px solid black;
}

.MemberSpaceWidgetInternal__Typography_variant-input-label, .MemberSpaceWidgetInternal__Typography_variant-input-label2 {
    -webkit-text-fill-color: initial;
    color: var(--label-color);
    font-family: var(--label-font-family);
    font-weight: var(--label-font-weight);
    text-transform: uppercase;
}