<!---------- First section / Intro Product -->

<section class="grid grid-cols-2">
    <div class="col-span-1 mt-72 mx-32"> 
        <h1 class="font-serif text-6xl p-4"> {{page.title}}</h1>
        <h3 class="uppercase text-lg p-4 font-normal"> {{page.subtitle}}</h3>
        <p class="p-4 mb-4"> {{page.description}}</p>

            {% include shopify-buy-button.html shopify-buy-button-id=page.shopify-buy-button-id %}

    </div>
    <div class="col-span-1" style="background-image: url('{{page.featured_image}}')"> 
        
    </div>
</section>