<section class="grid grid-cols-5">

    <div class="col-span-1"> </div>


    <div class="col-span-4 min-h-screen flex items-center" style="background-image: url('{{page.banner.image_path}}');"> 
        <div class="-ml-15p py-10px px-5p"> 
            <h1 class="font-serif text-[13vw] text-white leading-snug"> {{page.banner.heading | default: page.title}} </h1>
        
            <p class="font-sans uppercase text-white tracking-wide font-nmd:text-xl md:max-w-lg"> {{page.banner.description | default: page.description }}</p>
    
            <a href="{{page.banner.button.url}}">{{page.banner.button.url}} </a>
        </div>
    </div>

</section>
