
<!-- Create a header element with some vertical & horizontal padding,and then use flexbox to create space between the logo and the nav aligning them vertically -->

<header class="flex justify-between items-center py-8 px-5p">

    <!-- link back to the homepage and apply some typography styling -->

    <a href="/index.html" class="inline-block text-4xl font-serif tracking-wide"> LOGO </a>

    <!-- we can apply these typography styles on the parent since they are inheritable styles -->

    <nav class="md:justify-center md:overflow-x-auto overflow-x-scroll md:flex-wrap flex-nowrap">

          {% for item in site.data.site-settings.navigation %}

          <a href="{{item.url}}" class="p-4 uppercase whitespace-nowrap hover:text-teal-600"> {{item.title}} </a>

          {% endfor %}

    </nav> 

  </header>


<!-- 
  NOTE - need to style scrollbars more beeautifully and browser compatibly
--> 
