<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}
    
</head>

<body class="bg-[#D0CEC9]">

    {% include inline-styles.html %}
    
    {% include site-header.html %}

    {{content}}

    {% include site-footer.html %}


 <!------------------ Membership --------------------->

<script> var MemberSpace = window.MemberSpace || {"subdomain":"glowing-cave"}; (function(d){ var s = d.createElement("script"); s.src = "https://cdn.memberspace.com/scripts/widgets.js"; var e = d.getElementsByTagName("script")[0]; e.parentNode.insertBefore(s,e); }(document)); </script>

<style> 

    .MemberSpaceWidgetInternal__BrandedInterface_footer {display: none; }
    
</style> 

<!----------------------- Javascript  --------------->

    <script src="/main.js"></script>

</body>

</html>