---
layout: default
---

<!----------- layout defaul cause is pulling the header and footer from the default layout ----------->

<!---------- First section / Intro Product -->

{% include hero-banner-product.html %}

<!---------- Second section / Before & After ---------->


<section class="p-16">

    <h2 class="text-4xl uppercase font-serif tracking-widest mb-6 text-center"> What's Inside </h2>

     {% include gallery-images.html %}

    
</section>

<!----------- Third section / Table of Contents & What's included ------------->

<section class="grid grid-cols-3 p-5p gap-16">
    <div class="col-span-2">
        <h2 class="text-4xl uppercase font-serif tracking-widest mb-8 pb-5 border-b-2 border-black"> Table of contents </h2>
                
            {% for item in site.data.guide-settings.content-table %}
            <div class="border-b-2 border-black" x-data="{ open: false }">
                <button class="flex justify-between w-full my-5" @click="open = ! open">
                    <h3 class="uppercase font-normal"> {{item.title}} </h3>
                    <span> Top 10 places to go </span>
                </button>
                <div x-show="open" @click.outside="open = false"> <p> {{item.description}} </p></div>
            </div>

            {% endfor %}  
    </div>

    <div class="col-span-1">
        <h2 class="text-4xl uppercase font-serif tracking-widest mb-6"> What's Included </h2>
        <ul class="mb-5"> 
            <li> - Recomendations </li>
            <li> - Tips </li>
            <li> - Multiple testimonails </li>
            <li> - Our favourites places to go </li>
            <li> - Something cool to do  </li>
            <li> - What to bring  </li>
            <li> - My favourites </li>
            <li> - Recomendations </li>
            <li> - Recomendations </li>
        </ul>
        <div>
            <a class="bg-black text-white py-2 px-4 uppercase" href="#"> Add to cart </a>
            <a class="py-2 px-4 fa-heart" href="#""> Add to wishlist </a>
        </div>
    </div>

</section>

<!---------- Related Products ----------->

{% assign relevant-products = site.products-guides | where_exp:"product","product.url != page.url" %}

{% include related-products.html relevant-products=relevant-products %}