---
layout: default
---

<!----------- layout defaul cause is pulling the header and footer from the default layout ----------->

<!---------- First section / Intro Product -->

<section class="grid grid-cols-2">
    <div class="col-span-1"> 
        <h1> {{page.product_name}}</h1>
        <h2> {{page.subtitle}}</h2>
        <p> {{page.description}}</p>
        <a href="#"> Buy now </a>
    </div>
    <div class="col-span-1 bg-[url('{{page.featured-image}}')]"> 
        
    </div>
</section>

<!---------- Second section / Before & After ---------->

<section class="grid grid-cols-3">
    <div class="col-span-2">
        <div class="col-span-1 aspect-square bg-[url('{{page.before-image}}')]"></div>

        <div class="grid grid-cols-6">
            <div class="col-span-1 aspect-square bg-[url('{{page.before-image}}')]"></div>
            <div class="col-span-1 aspect-square bg-[url('{{page.before-image}}')]"></div>
            <div class="col-span-1 aspect-square bg-[url('{{page.before-image}}')]"></div>
            <div class="col-span-1 aspect-square bg-[url('{{page.before-image}}')]"></div>
            <div class="col-span-1 aspect-square bg-[url('{{page.before-image}}')]"></div>
            <div class="col-span-1 aspect-square bg-[url('{{page.before-image}}')]"></div>
        </div>
    </div>
    <div class="col-span-1"> 
        <h2> Before & After </h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quo totam sunt nam error mollitia repellat adipisci unde harum, neque suscipit porro ab modi itaque natus fugit in nobis quasi!</p>
    </div>

</section>

<!----------- Third section / ----------->

<section class="grid grid-cols-3">
    <div class="col-span-1">
        <h2> {{site.data.preset-page.instructions.heading}}</h2>
        <ul> {{site.data.preset-page.instructions.description}}</ul>   
    </div>
    <div class="col-span-2"> {{site.data.preset-page.instructions.url}} </div>
</section>

<!-------------- Forth section / FAQS ------------>

<section>
    <h2> FAQS </h2>
    <div class="flex justify-between"> 
        {% for item in site.data.preset-page.faqs %}
        <h3> {{item.question}} </h3>
        <p> {{item.answer}} </p>
        {% endfor %}
    </div>
</section>

<!---------- Related Products ----------->

