---
layout: default
comparison-images: 
    - before-image: /uploads/travel/travel-3.jpg
      after-image: /uploads/travel/travel-4.jpg
    - before-image: /uploads/travel/travel-3.jpg
      after-image: /uploads/travel/travel-4.jpg
    - before-image: /uploads/travel/travel-5.jpg
      after-image: /uploads/travel/travel-6.jpg
    - before-image: /uploads/travel/travel-7.jpg
      after-image: /uploads/travel/travel-8.jpg
    - before-image: /uploads/travel/travel-9.jpg
      after-image: /uploads/travel/travel-10.jpg
    - before-image: /uploads/travel/travel-11.jpg
      after-image: /uploads/travel/travel-12.jpg
---

<!----------- layout defaul cause is pulling the header and footer from the default layout ----------->

<!---------- First section / Intro Product -->

<section class="grid grid-cols-2">
    <div class="col-span-1"> 
        <h1> {{page.title}}</h1>
        <h2> {{page.subtitle}}</h2>
        <p> {{page.description}}</p>
        <a href="#"> Buy now </a>
    </div>
    <div class="col-span-1 bg-[url('{{page.featured_image}}')]"> 
        
    </div>
</section>

<!---------- Second section / Before & After ---------->

<section class="grid grid-cols-3">
    <div class="col-span-2">
        <div class="col-span-1 aspect-square bg-[url('{{page.before_image}}')]"></div>

        <div class="grid grid-cols-6">
            <div class="col-span-1 aspect-square bg-[url('{{page.before_image}}')]"></div>
            <div class="col-span-1 aspect-square bg-[url('{{page.before_image}}')]"></div>
            <div class="col-span-1 aspect-square bg-[url('{{page.before_image}}')]"></div>
            <div class="col-span-1 aspect-square bg-[url('{{page.before_image}}')]"></div>
            <div class="col-span-1 aspect-square bg-[url('{{page.before_image}}')]"></div>
            <div class="col-span-1 aspect-square bg-[url('{{page.before_image}}')]"></div>
        </div>
    </div>
    <div class="col-span-1"> 
        <h2> Before & After </h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quo totam sunt nam error mollitia repellat adipisci unde harum, neque suscipit porro ab modi itaque natus fugit in nobis quasi!</p>
    </div>

</section>

<!---------- Tina'section for the before & after ----------->

<div id="before-and-after-slider">
    <div class="relative aspect-landscape mb-2">

        <!-- After image in the foreground  -->
        <div class="absolute inset-0 bg-image bg-[length:50vw] bg-cover bg-left" id="after-image"
             style="background-image:url('{{page.comparison-images[0].after-image}}')"></div>

        <!-- Before image in the background -->
        <div class="absolute inset-0 bg-image bg-[length:50vw] bg-left w-1/2" id="before-image"
             style="background-image:url('{{page.comparison-images[0].before-image}}')"></div>
         
    </div>
    <div class="grid grid-cols-6 gap-2" id="alt-image-grid">
        {% for image in page.comparison-images %}
        
        <div class="col-span-1 aspect-landscape relative">
            <img src="{{image.before-image}}" data-pre-image="{{image.after-image}}"
                class="absolute inset-0 object-cover object-center h-full w-full">
        </div>
        {% endfor %}
    </div>
</div>



<!-- Essential Javascript-->


<script src="https://unpkg.com/gsap@3.12.1/dist/gsap.min.js"></script>
<script>

const sliderContainer = document.querySelector('#before-and-after-slider')

function updateImageSlide(e){
  if(sliderContainer.classList.contains('clicked')){
    console.log(e.offsetX)
    gsap.set("#before-image", {
      width: `${e.offsetX}px`
    });
  }
}

sliderContainer.addEventListener('mousedown',(e) => {
  sliderContainer.classList.add('clicked')
  updateImageSlide(e)
})
sliderContainer.addEventListener('mouseup',() => {
  sliderContainer.classList.remove('clicked')
})
sliderContainer.addEventListener('mouseout',() => {
  sliderContainer.classList.remove('clicked')
})

sliderContainer.addEventListener('mousemove',(e) => {
  updateImageSlide(e)
})

//   

// Open your HTML file in a web browser, and you should now have a slider that adjusts its width based on the mouse position.

// By following these beginner-friendly instructions, you should be able to successfully implement the provided GSAP functionality for the slider on your web page.


// change image functionality
const altImageGrid = document.querySelector('#alt-image-grid')
const altImages = altPhotoGrid.querySelectorAll('img')

altImages.forEach(img => {
  img.addEventListener('click', () => {
    console.log(`url(${img.src})`)
    gsap.set('#before-image',{
      backgroundImage: `url('${img.src}')`
    })
    gsap.set('#after-image',{
      backgroundImage: `url('${img.dataset.preImage}')`
    })
  })
});

</script> 

<section class="bg-stone-100 p-5p">
    <div class="grid grid-cols-5 max-w-screen-xl mx-auto">
        <div class="col-span-3 p-8">

            {% include before-and-after-slider.html %}

        </div>
        <div class="col-span-2 p-8 self-center">
            <h2 class="text-2xl uppercase"> Before & After </h2>
            {{site.data.presets-settings.before-and-after-description_html}}
        </div>

    </div>
</section>
<!----------- Third section / How to use your ----------->

<section class="p-5p">
    <div class="grid max-w-screen-xl mx-auto grid-cols-6">
        <div class="col-span-2">  
            <h2> {{site.data.preset-settings.instructions.heading}}</h2>
            <p> {{site.data.preset-settings.instructions.description}}</p>
        </div>
        <div class="p-8 col-span-4">
            {% include video.html 
            vimeo-id=site.data.preset-settings.presets-instructions-vimeo-id %}
    </div>
</section>

<!-------------- Forth section / FAQS ------------>

<section>
    <h2> FAQS </h2>
    <div class="flex justify-between"> 
        {% for item in site.data.preset-page.faqs %}
        <h3> {{item.question}} </h3>
        <p> {{item.answer}} </p>
        {% endfor %}
    </div>
</section>

<!---------- Related Products ----------->

{% include related-products.html %}