---
layout: default
---

<!----------- layout defaul cause is pulling the header and footer from the default layout ----------->

<!---------- First section / Intro Product -->

{% include hero-banner-product.html %}

<!---------- Second section / Before & After ---------->


<section class="p-16">

    <h2 class="text-4xl uppercase font-serif tracking-widest mb-6 text-center"> What's Inside </h2>

     {% include gallery-images.html %}

    
</section>

<!----------- Third section / How to use your ----------->

<section class="p-5p">
    <div class="grid max-w-screen-xl mx-auto grid-cols-6">
        <div class="col-span-2 p-10p">  
            <h2 class="text-4xl uppercase font-serif tracking-widest mb-6"> {{site.data.preset-settings.instructions.heading}}</h2>
            <p> {{site.data.preset-settings.instructions.description}}</p>
        </div>
        <div class="p-8 col-span-4">
            {% include video.html 
            vimeo-id=site.data.preset-settings.presets-instructions-vimeo-id %}
    </div>
</section>

<!-------------- Forth section / FAQS ------------>


<section class="p-10p">
    <h2 class="text-4xl uppercase font-serif tracking-widest mb-6 border-b-2 border-black"> FAQ'S </h2>
        
     {% for item in site.data.preset-settings.faqs %}
        <div class="border-b-2 border-black" x-data="{ open: false }">
            <button @click="open = ! open"><h3 class="uppercase"> {{item.question}} </h3></button>
            <div x-show="open" @click.outside="open = false"> <p> {{item.answer}} </p></div>
        </div>
       
        {% endfor %}

</section>
<!---------- Related Products ----------->

{% include related-products.html %}