---
layout: default
---

<!----------- layout defaul cause is pulling the header and footer from the default layout ----------->

<!---------- First section / Intro Product -->

<section class="grid grid-cols-2">
    <div class="col-span-1"> 
        <h1> {{page.title}}</h1>
        <h2> {{page.subtitle}}</h2>
        <p> {{page.description}}</p>
        <a href="#"> Buy now </a>
    </div>
    <div class="col-span-1 bg-[url('{{page.featured_image}}')]"> 
        
    </div>
</section>

<!---------- Second section / Before & After ---------->


<section class="p-5p">
    <div class="grid grid-cols-5 max-w-screen-xl mx-auto">
        <div class="col-span-3 p-8">
            {% include before-and-after-slider.html %}
        </div>
        <div class="col-span-2 p-8 self-center">
            <h2 class="text-4xl uppercase font-serif tracking-widest"> Before & After </h2>
            {{site.data.preset-settings.before-and-after-description_html}}
        </div>

    </div>
</section>
<!----------- Third section / How to use your ----------->

<section class="p-5p">
    <div class="grid max-w-screen-xl mx-auto grid-cols-6">
        <div class="col-span-2">  
            <h2> {{site.data.preset-settings.instructions.heading}}</h2>
            <p> {{site.data.preset-settings.instructions.description}}</p>
        </div>
        <div class="p-8 col-span-4">
            {% include video.html 
            vimeo-id=site.data.preset-settings.presets-instructions-vimeo-id %}
    </div>
</section>

<!-------------- Forth section / FAQS ------------>

<section>
    <h2> FAQS </h2>
    <div class="flex justify-between"> 
        {% for item in site.data.preset-settings.faqs %}
        <h3> {{item.question}} </h3>
        <p> {{item.answer}} </p>
        {% endfor %}
    </div>
</section>

<!---------- Related Products ----------->

{% include related-products.html %}